/.vscode/
/bin/.idea/
/bin/.ipynb_checkpoints/
/bin/results_HSI/baenet_res/
/bin/draw_data/
/bin/epoch_result/
/bin/eval_data/
/bin/groundtruth/
/bin/hot_res/
/bin/models/
/bin/result_img/
/bin/result_img_hot/
/bin/results/
/bin/rgb_groundtruth/
/build/
/data/
/data2/
/data3/
/data4/
/data5/
/dataset/
/models/
/results/
/testing_dataset/
